﻿@model TechUnityAssignment.Models.Blogs

@{
    ViewBag.Title = "Create Post";
}

<h2 style="margin-left:33%">Create Post</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PostTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PostDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.PostDescription, new { @style = "width: 100%;height:200px", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Public:   @Html.RadioButton("Status", "1")
                Private: @Html.RadioButton("Status", "2")
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
        }

        <div>
            @Html.ActionLink("Back to List", "List")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
