﻿@model IEnumerable<TechUnityAssignment.Models.Blogs>

@{
    ViewBag.Title = "Post List";
}

<h2>Post List</h2>

<p>
    @Html.ActionLink("Create New Post", "CreatePost")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDescription)
        </td>
        <td>
          @(item.Status==1?"Public":"Private")
        </td>
      
    </tr>
}

</table>
